/*make the ol tagg border this color rgb(255, 128, 128);*/
ol  {
    background-color: rgb(255, 128, 128);
    border: 10px solid rgb(255, 128, 128);
}
ol li::before{
    
    background-color: rgb(255, 128, 128);
    
}
ol li{
    background-color: wheat;
}







